            <main id="main-content" {{ view.contentClass|raw }} role="main">
            {%- if view.archiveTitle %}

                <div class="page-header">
                    <h2>{{ view.archiveTitle|raw }}</h2>
                </div>
            {%- endif %}
            {%- for post in posts %}

{% include "post/post-archive.html.twig" %}
            {%- else %}

{% include "post/post-not-found.html.twig" %}
            {%- endfor %}
            {%- if view.pagination %}

                {{ view.pagination|raw }}
            {%- endif %}

            </main><!-- #main-content -->
