            <main id="main-content" {{ view.contentClass|raw }} role="main">
                <div class="page-header">
                    <h2>{{ view.notFoundTitle|raw }}</h2>
                </div>
{% include "post/post-not-found.html.twig" %}

            </main><!-- #main-content -->
