
/* Header
   ========================================================================== */

#header-widgets-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

#header {
    padding-top: 10px;
    padding-bottom: 10px;
}
