
/* Forms
   ========================================================================== */

label.required:after {
    content: "*";
    color: $brand-danger;
}

span.required {
    color: $brand-danger;
}
