
/* Helpers
   ========================================================================== */

.monospace {
    font-family: $font-family-monospace;
}

.inline-box {
    display: inline-block !important;
}

.pad-box {
    display: block;
    padding: 6px 12px;
}

.pad-box-lg {
    display: block;
    padding: 10px 20px;
}

.pad-box-sm {
    display: block;
    padding: 4px 8px;
}

.pad-box-xs {
    display: block;
    padding: 2px 4px;
}

.pad-top {
    padding-top: 10px;
}

.pad-bottom {
    padding-bottom: 10px;
}

.pad-vertical {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-left {
    padding-left: 10px;
}

.pad-right {
    padding-right: 10px;
}

.pad-horizontal {
    padding-left: 10px;
    padding-right: 10px;
}

.align-center {
    display: block;
    margin: 0 auto 5px auto;
}

.align-right {
    float: right;
    display: block;
    margin: 0 0 5px 10px;
}

.align-left {
    float: left;
    display: block;
    margin: 0 10px 5px 0;
}

.cursor-default {
    cursor: default;
}

.cursor-text {
    cursor: text;
}

.cursor-none {
    cursor: none;
}

.cursor-context-menu {
    cursor: context-menu;
}

.cursor-help {
    cursor: help;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-progress {
    cursor: progress;
}

.cursor-wait {
    cursor: wait;
}

.cursor-cell {
    cursor: cell;
}

.cursor-crosshair {
    cursor: crosshair;
}

.cursor-text {
    cursor: text;
}

.cursor-vertical-text {
    cursor: vertical-text;
}

.cursor-alias {
    cursor: alias;
}

.cursor-copy {
    cursor: copy;
}

.cursor-move {
    cursor: move;
}

.cursor-no-drop {
    cursor: no-drop;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-all-scroll {
    cursor: all-scroll;
}

.cursor-col-resize {
    cursor: col-resize;
}

.cursor-row-resize {
    cursor: row-resize;
}

.cursor-n-resize {
    cursor: n-resize;
}

.cursor-e-resize {
    cursor: e-resize;
}

.cursor-s-resize {
    cursor: s-resize;
}

.cursor-w-resize {
    cursor: w-resize;
}

.cursor-ns-resize {
    cursor: ns-resize;
}

.cursor-ew-resize {
    cursor: ew-resize;
}

.cursor-ne-resize {
    cursor: ne-resize;
}

.cursor-nw-resize {
    cursor: nw-resize;
}

.cursor-se-resize {
    cursor: se-resize;
}

.cursor-sw-resize {
    cursor: sw-resize;
}

.cursor-nesw-resize {
    cursor: nesw-resize;
}

.cursor-nwse-resize {
    cursor: nwse-resize;
}
